@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Poppins', sans-serif, -apple-system;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

svg {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
